#header {
  background: #59D3EA;
  color: #fff;
}

#title { 
  font-size: 30px;
  float: left;
}

.paragraph{
  text-align: justify;
}

#info {
   text-align: justify;
}

.btn-first {
  background: #EA398F;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  color: #fff;
}

.first-paragraph{
  text-align: justify;
}

#contact{
  border: 2px solid #EA398F;
  margin-top: 100px;
  width: 250px;
  height: 160px;
  box-shadow: 10px 10px 5px;
  float: right;
}

.fa {
  color: #59D3EA;
}

#first-section {
  background-image: url("../img/self3.jpg");
  background-size: cover;
  height: 580px;
}

.first-title { 
  text-align: center;
}

.line {
  width: 50px;
  height: 5px;
  background: #EA398F;
  margin-left: 235px;
}

.first-paragraph {
  padding: 20px;
}

.line-1 {
  width: 50px;
  height: 5px;
  background: #EA398F;
  margin-left: 40px;
}

#btn { 
  background: #EA398F;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: #fff;
}

#img1 {
  height: 150px;
  border-radius: 15px;
}

#btn2 {
  background: #EA398F;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: #fff;
}

#footer {
  height: 70px;
  background: #59D3EA;
  width:100%;
  margin-top: 70px;
}

.last-text {
  text-align: center;
  color: #fff;
}
