@media (min-width: 535px) and (max-width: 824px) {
  [class*="col-"]{
    width: 100%;
  }
  #header{
    width: 100%;
  }
  .row{
    width: 100%;
  }
  
}
@media (min-width: 200px) and (max-width: 543px){
  [class*="col-"]{
    width: 100%;
  }
  body{
    background-color: #07B399;  
    color: #DFDFDF;
  }
  .btn-first{
    display: none;
  }
  #first-section{
    background-image: url("../img/self5.jpg");
   width: 100%;
  }
  
  .fa{
    color: #EA398F;
    float: right;
    margin-top: -50px;
    height: 40%;
    width: 20%;

  }
 
}


