@media (min-width: 535px) and (max-width: 800px) {
  [class*="col-"]{
    width: 100%;
  }
  #header {
    width: 100%;
  }

  .row {
    width: 100%;
  }

  #contact {
    border: 5px solid #EA398F;
    margin-top: 120px;
    width: 250px;
    height: 160px;
    box-shadow: 10px 10px 5px;
    float: left;
  }
}
@media (min-width: 200px) and (max-width: 668px){
  [class*="col-"]{
    width: 100%;
  }
  body {
    background-color: #07B399;  
    color: #DFDFDF;
  }

  .btn-first {
    display: none;
  }

  #first-section {
    background-image: url("../img/self5.jpg");
    background-size: cover;
    background-position: 50%;
  }   

  .fa {
    color: #EA398F;
    float: right;
    margin-top: -50px;
    width: 30%;
  }
  
  .fa.fa-bars {
    font-size: 60px;
  }

  #contact {
    border: 5px solid #EA398F;
    margin-top: 120px;
    width: 250px;
    height: 160px;
    box-shadow: 1;
    box-shadow: 10px 10px 5px;
    float: left;
  }
}


